In [1]:
import pandas as pd

In [2]:
data = {
    'Name' : ['Aaaa', 'Aaab',  'Aaac',  'Aaad',  'Aaae',  'Aaaf',  'Aaag',  'Aaah',  'Aaai',  'Aaaj',  'Aaak',  'Aaal',  'Aaam',  'Aaan'],
    'Height' : [6.1, 6.1, 6.1, 6.2, 6.3, 6.4, 6.5, 6.1, 6.1, 6.1, 6.2, 6.3, 6.4, 6.5],
    'Weight' : [75, 76, 72, 71, 72, 73, 74, 75, 76, 72, 71, 72, 73, 74],
    'ShoeSize': [7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8]
}

df = pd.DataFrame(data)
print(df)

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.2      71         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      73         7
6   Aaag     6.5      74         7
7   Aaah     6.1      75         8
8   Aaai     6.1      76         8
9   Aaaj     6.1      72         8
10  Aaak     6.2      71         8
11  Aaal     6.3      72         8
12  Aaam     6.4      73         8
13  Aaan     6.5      74         8

### a) Write a python code to sort the above data based on shoe size first, followed by height and then weight. Achieve the assignment by using simple loops and comparisons. Do not use any existing Python functions for sorting data-sets.

## Bubble Sort

In [3]:
def bubble_sort(dataframe, column):
    """
        from left towards right compare consectutive element, swap if it is wrong order. stops when no swaps occurs at the iteration.
        each iteration, sorted array forms backwards in right end and unsorted array shrinks by size one.
        o(n^2)
    """
    dataframe = dataframe.copy()
    n = len(dataframe)
    for i in range(n-1):
        swap = False
        for j in range(n-i-1): #swap in shrinked unsorted array
            if dataframe.loc[j,column] > dataframe.loc[j+1,column]:
                dataframe.loc[j,column], dataframe.loc[j+1,column] = dataframe.loc[j+1,column], dataframe.loc[j,column]
                swap = True
        if not swap:
            break
    return dataframe

print(bubble_sort(df, 'ShoeSize'))
print()
print(bubble_sort(df, 'Height'))
print()
print(bubble_sort(df, 'Weight'))
print()

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.2      71         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      73         7
6   Aaag     6.5      74         7
7   Aaah     6.1      75         8
8   Aaai     6.1      76         8
9   Aaaj     6.1      72         8
10  Aaak     6.2      71         8
11  Aaal     6.3      72         8
12  Aaam     6.4      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.1      71         7
4   Aaae     6.1      72         7
5   Aaaf     6.1      73         7
6   Aaag     6.2      74         7
7   Aaah     6.2      75         8
8   Aaai     6.3      76         8
9   Aaaj     6.3      72         8
10  Aaak     6.4      71         8
11  Aaal     6.4      72         8
12  Aaam     6.5      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      71         7
1   Aaab     6.1      71         7
2   Aaac     6.1      72         7
3   Aaad     6.2      72         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      72         7
6   Aaag     6.5      73         7
7   Aaah     6.1      73         8
8   Aaai     6.1      74         8
9   Aaaj     6.1      74         8
10  Aaak     6.2      75         8
11  Aaal     6.3      75         8
12  Aaam     6.4      76         8
13  Aaan     6.5      76         8

## Insertion Sort

In [4]:
def insertion_sort(dataframe, column):
    """
        starts with the first element sorted array and other elements are inserted in correct order in each lateral iteration one by one. 
        each iteration, uncompleted sorted array froms in left end and unsorted array shrinks by one.
        o(n^2)
    """
    dataframe = dataframe.copy()
    n = len(dataframe)
    for i in range(1,n):
        temp = dataframe.loc[i, column]
        for j in range(i): #to insert in left sorted array.
            if dataframe.loc[j,column] > temp:
                dataframe.loc[j,column], temp = temp, dataframe.loc[j,column]
        dataframe.loc[j+1,column] = temp
    return dataframe

print(insertion_sort(df, 'ShoeSize'))
print()
print(insertion_sort(df, 'Height'))
print()
print(insertion_sort(df, 'Weight'))
print()

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.2      71         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      73         7
6   Aaag     6.5      74         7
7   Aaah     6.1      75         8
8   Aaai     6.1      76         8
9   Aaaj     6.1      72         8
10  Aaak     6.2      71         8
11  Aaal     6.3      72         8
12  Aaam     6.4      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.1      71         7
4   Aaae     6.1      72         7
5   Aaaf     6.1      73         7
6   Aaag     6.2      74         7
7   Aaah     6.2      75         8
8   Aaai     6.3      76         8
9   Aaaj     6.3      72         8
10  Aaak     6.4      71         8
11  Aaal     6.4      72         8
12  Aaam     6.5      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      71         7
1   Aaab     6.1      71         7
2   Aaac     6.1      72         7
3   Aaad     6.2      72         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      72         7
6   Aaag     6.5      73         7
7   Aaah     6.1      73         8
8   Aaai     6.1      74         8
9   Aaaj     6.1      74         8
10  Aaak     6.2      75         8
11  Aaal     6.3      75         8
12  Aaam     6.4      76         8
13  Aaan     6.5      76         8

## Selection Sort

In [5]:
def selection_sort(dataframe, column):
    """
        starts from left to right to replace current element with lowest order element in unsorted array rightside.
        each iteration, sorted array froms in left and unsorted array shrinks by size one.
        o(n^2)
    """
    dataframe = dataframe.copy()
    n = len(dataframe)
    for i in range(n-1):        
        for j in range(i+1, n): #to replace the current with minimum valued element.
            if dataframe.loc[i, column] > dataframe.loc[j,column]:
                dataframe.loc[i,column], dataframe.loc[j,column] = dataframe.loc[j,column], dataframe.loc[i,column]
    return dataframe

print(selection_sort(df, 'ShoeSize'))
print()
print(selection_sort(df, 'Height'))
print()
print(selection_sort(df, 'Weight'))
print()

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.2      71         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      73         7
6   Aaag     6.5      74         7
7   Aaah     6.1      75         8
8   Aaai     6.1      76         8
9   Aaaj     6.1      72         8
10  Aaak     6.2      71         8
11  Aaal     6.3      72         8
12  Aaam     6.4      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      75         7
1   Aaab     6.1      76         7
2   Aaac     6.1      72         7
3   Aaad     6.1      71         7
4   Aaae     6.1      72         7
5   Aaaf     6.1      73         7
6   Aaag     6.2      74         7
7   Aaah     6.2      75         8
8   Aaai     6.3      76         8
9   Aaaj     6.3      72         8
10  Aaak     6.4      71         8
11  Aaal     6.4      72         8
12  Aaam     6.5      73         8
13  Aaan     6.5      74         8

    Name  Height  Weight  ShoeSize
0   Aaaa     6.1      71         7
1   Aaab     6.1      71         7
2   Aaac     6.1      72         7
3   Aaad     6.2      72         7
4   Aaae     6.3      72         7
5   Aaaf     6.4      72         7
6   Aaag     6.5      73         7
7   Aaah     6.1      73         8
8   Aaai     6.1      74         8
9   Aaaj     6.1      74         8
10  Aaak     6.2      75         8
11  Aaal     6.3      75         8
12  Aaam     6.4      76         8
13  Aaan     6.5      76         8

## Appendix

In [6]:
"""
    a) pandas.DataFrame.loc[index, column_label]  
"""

example = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'c': [7,8,9]
})

print(example.loc[0,'A'], '\n')
print(example.loc[1,'A'], '\n')
print(example.loc[2,'A'], '\n')

1

2

3